global
  log stdout format raw local0

defaults
  log global
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend stats
  mode http
  bind :8404
  stats enable
  stats uri /stats

frontend http_in
  mode http
  bind :8080
  option httplog
  http-response set-header X-LB haproxy-l7
  default_backend web_http

backend web_http
  mode http
  balance roundrobin
  option httpchk GET /
  server web1 web1:80 check
  server web2 web2:80 check

frontend tcp_in
  mode tcp
  bind :8081
  default_backend web_tcp

backend web_tcp
  mode tcp
  balance leastconn
  server web1 web1:80 check
  server web2 web2:80 check
